#article-border, #footer-border {
    position: relative;
    width: 100%;
    padding: 10px;
}

#article {
    margin-top: 20px;
}

.carousel-control.left {
    margin-left: -10%;
}

.carousel-control.right {
    margin-right: -10%;
}

.carousel-indicators {
    margin-bottom: -1.5%;
}

.text {
    font-family: 'Montserrat';
    color: white;
}

.toc-label {
    text-align: left;
}

.table-of-contents {
  background-color: #222;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 8px;
  margin: auto;
  max-width: 650px;
}

.table-of-contents ol {
  list-style-position: inside;
  padding-left: 0;
}

.table-of-contents li {
  color: gold;
  margin: 1em 0;
  font-size: 150%;
  text-indent: -1.3em;
  padding-left: 1.3em;
}

.table-of-contents a {
  color: gold;
  text-decoration: none;
}

.table-of-contents a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

.top-margin {
    margin-top: 50px;
}

.subtitle {
    text-align: center;
    font-size: 125%;
}

@media (max-aspect-ratio: 5/5) {
    .text {
        font-size: 150%;
    }
}