body {
  font-family: 'Montserrat';
  background-color: #202020 !important;
}

.content-area {
  margin-top: 10px;
  background-color: #202020;
  overflow: auto;
}

.carousel-indicators {
  margin-bottom: -1.5%;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: rgb(151, 129, 0);;
}

#product-image-carousel a {
   outline: none !important; /* this will remove the outline when we click the anchor tag */
 }
 
.carousel-control:focus {
  color: gold;
  opacity: 0.5;
 }
 
.carousel-control:hover {
   color: white !important;
   opacity: 0.75 !important;
}

.carousel-control {
  background-image: none !important;
  width: 10%;
}

.carousel-control.left {
  margin-left: -10%;
}

.carousel-control.right {
  margin-right: -10%;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  color: gold;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #505050;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgb(151, 129, 0);
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gold;
}

p, footer {
  padding: 20px;
  font-size: 16pt;
  color: white;
  text-align: left;
  margin: 0;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}

section {
	padding-right: 20px;
	padding-left: 20px;
}

table, th, td {
  color: white;
  border: 0px;
  margin-bottom: 20px;
  padding:5px;
  text-align: center;
}

td.p {
  text-align: justify;
}

.panel {
  background-color: #303030;
  border-color: #303030;
  margin-left: 10%;
  width: 80%;
}

#article-border, #footer-border {
  position: relative;
  width: 100%;
  padding: 10px;
}

#article {
  margin-top: 20px;
}

.text {
  font-family: 'Montserrat';
  color: white;
}

.toc-label {
  text-align: left;
}

.table-of-contents {
  background-color: #222;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 8px;
  margin: auto;
  max-width: 650px;
}

.table-of-contents ol {
  list-style-position: inside;
  padding-left: 0;
}

.table-of-contents li {
  color: #00CCFF;
  margin: 1em 0;
  font-size: 16pt;
  text-indent: -1.3em;
  padding-left: 1.3em;
}

.table-of-contents a {
  color: #00CCFF;
  text-decoration: none;
}

.table-of-contents a:hover {
  text-decoration: underline;
}

h1 {
  margin-top: 40px !important;
}

.top-margin {
  margin-top: 40px;
}

.subtitle {
  text-align: center;
  font-size: 125%;
}

.info-summary-panel {
  background-color: #222;
  padding: 8pt;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin: auto;
  max-width: 90%;
}

.info-panel {
  background-color: #222;
  padding: 8pt;
  border-radius: 8px;
  margin: auto;
  max-width: 650px;
}

.info-title {
  font-size: 24pt;
}

.info-subtitle {
  font-size: 20pt;
}

.info-formula {
  font-size: 20pt;
  font-family: Cambria;
}

.info-formula-desc {
  font-size: 12pt;
  font-family: Cambria;
}

.info-text {
  text-align: left;
  font-size: 14pt;
}

b {
  color: gold;
  font-weight: normal;
}

@media (max-aspect-ratio: 5/5) {
  .text {
    font-size: 150%;
  }
}